---
layout: default
title: Clean
---
<div class="home" id="home">
  <div class="category-content">
    {% for post in paginator.posts %}
      <div id="post-page">
        {% if post.hero %}
          <img id="post-hero" src="{{ site.url }}/images/posts/{{ post.hero }}">
        {% endif %}
        
         <h1 id="post-title">{{ post.title }}</h1>
      
         <div id="post-description">
           {{ post.content }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous Page</a>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next Page</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}